<nav class="flex justify-center gap-4">
    <button 
        [ngClass]="{'bg-white text-[#0B0D17]' : launch, 'text-white' : !launch}"
        (click)="showLaunch()"
        class="
            w-[45px] h-[45px] rounded-full border-white/20 border-2 text-center
            md:w-[60px] md:h-[60px] md:text-2xl
            ">
        <span class="font-['Bellefair'] tracking-[1px]">1</span>
    </button>
    <button 
        [ngClass]="{'bg-white text-[#0B0D17]' : spaceport, 'text-white' : !spaceport}"
        (click)="showSpacePort()"
        class="
            w-[45px] h-[45px] rounded-full border-white/20 border-2 text-center
            md:w-[60px] md:h-[60px] md:text-2xl
            ">
        <span class="font-['Bellefair'] tracking-[1px]">2</span>
    </button>
    <button
        [ngClass]="{'bg-white text-[#0B0D17]' : capsule, 'text-white' : !capsule}"
        (click)="showCapsule()"
        class="
            w-[45px] h-[45px] rounded-full border-white/20 border-2 text-center
            md:w-[60px] md:h-[60px] md:text-2xl
            ">
        <span class="font-['Bellefair'] tracking-[1px]">3</span>
    </button>
</nav>