<div class="py-8 flex flex-col gap-7">
    <div class="flex justify-center">
        <img class="w-[170px] h-[170px]" src="../../../assets/destination/image-titan.webp" alt="">
    </div>
    <div class="
        flex flex-col gap-5
        ">
        <app-nav-planets></app-nav-planets>
        <app-planet-info 
            Planet="TITAN"
            Descrition="The only moon known to have a dense atmosphere other than Earth, Titan is a home away from home (just a few 
            hundred degrees colder!). As a bonus, you get striking views of the Rings of Saturn."
            Distance="1.6 BIL. km"
            Time="7 years"
        />
    </div>
</div>