<div class="
    py-8 flex flex-col gap-7
    md:py-14 md:gap-14
    ">
    <div class="flex justify-center">
        <img 
            class="
                w-[170px] h-[170px]
                md:w-[300px] md:h-[300px]
                " 
            src="../../../assets/destination/image-europa.webp" 
            alt="Planeta Europa">
    </div>
    <div class="
        flex flex-col gap-5
        ">
        <app-nav-planets></app-nav-planets>
        <app-planet-info 
            Planet="Europa"
            Descrition="The smallest of the four Galilean moons orbiting Jupiter, Europa is a winter lover’s dream. With an icy 
            surface, it’s perfect for a bit of ice skating, curling, hockey, or simple relaxation in your snug wintery cabin."
            Distance="628 MIL. km"
            Time="3 years"
        />
    </div>
</div>