<section class="
    py-8 flex flex-col gap-8
    md:py-0 md:pt-16 md:flex-col-reverse md:gap-10
    ">
    <div class="flex justify-center">
        <img 
            class="
                w-[220px] h-[250px]
                md:w-[490px] md:h-[500px]
                " 
            src="../../../../assets/crew/image-anousheh-ansari.webp" 
            alt="Imagem de Engenheira Anousheh Ansari">
    </div>
    <div class="
        flex flex-col gap-8
        md:flex-col-reverse md:px-16
        ">
        <app-nav-crew />
        <app-person-info 
            Profissional="Flight Engineer"
            Name="Anousheh Ansari"
            Descrition="Anousheh Ansari is an Iranian American engineer and co-founder of Prodea Systems. Ansari was the fourth self-
            funded space tourist, the first self-funded woman to fly to the ISS, and the first Iranian in space. "
        />
    </div>
</section>