<section class="
    py-8 flex flex-col gap-8
    md:py-0 md:pt-16 md:flex-col-reverse md:gap-10
    lg:grid lg:grid-cols-3 lg:py-0 lg:pt-36
    ">
    <div class="
        flex justify-center
        lg:absolute lg:right-40 lg:top-20
        ">
        <img 
            class="
                w-[220px] h-[250px]
                md:w-[490px] md:h-[500px]
                lg:w-[620px] lg:h-[650px]
                " 
            src="../../../../assets/crew/image-anousheh-ansari.webp" 
            alt="Imagem de Engenheira Anousheh Ansari">
    </div>
    <div class="
        flex flex-col gap-8
        md:flex-col-reverse md:px-16
        lg:px-0 lg:col-span-2 lg:gap-[120px]
        ">
        <app-nav-crew />
        <app-person-info 
            Profissional="Flight Engineer"
            Name="Anousheh Ansari"
            Descrition="Anousheh Ansari is an Iranian American engineer and co-founder of Prodea Systems. Ansari was the fourth self-
            funded space tourist, the first self-funded woman to fly to the ISS, and the first Iranian in space. "
        />
    </div>
    <div class="max-[1023px]:hidden "></div>
</section>