<nav class="flex justify-center items-center gap-7">
    <button
        routerLink="/destination/"
        [ngClass]="{'text-white border-b-white border-b-2 ' : currentPath === '/destination', 'text-[#D0D6F9]/60' : currentPath !== '/destination'}"
        class="
            pb-2 font-['Borlow Condensed tracking-[2.4px]'] uppercase
        ">
        
        Moon
    </button>
    <button
        routerLink="/destination/mars"
        [ngClass]="{'text-white border-b-white border-b-2 ' : currentPath === '/destination/mars', 'text-[#D0D6F9]/60' : currentPath !== '/destination/mars'}"
        class="
        pb-2 font-['Borlow Condensed tracking-[2.4px]'] uppercase
        ">
        Mars
    </button>
    <button
        routerLink="/destination/europa"
        [ngClass]="{'text-white border-b-white border-b-2 ' : currentPath === '/destination/europa', 'text-[#D0D6F9]/60' : currentPath !== 'destination/europa'}"
        class="
        pb-2 font-['Borlow Condensed tracking-[2.4px]'] uppercase
        ">
        Europa
    </button>
    <button
        routerLink="/destination/titan"
        [ngClass]="{'text-white border-b-white border-b-2 ' : currentPath === '/destination/titan', 'text-[#D0D6F9]/60' : currentPath !== '/destination/titan'}"
        class="
        pb-2 font-['Borlow Condensed tracking-[2.4px]'] uppercase
        ">
        Titan
    </button>
</nav>