<div class="
    flex flex-col text-center gap-2
    md:gap-4
    lg:text-start lg:gap-5
    ">
    <h5 class="
        text-[#D0D6F9]/70 font-['Barlow Condensed'] tracking-[2.4px] uppercase text-sm
        md:text-base
        lg:text-lg
        ">The Terminology ...</h5>
    <h6 class="
        text-white font-['Bellefair'] text-3xl uppercase
        md:text-[40px]
        lg:text-[60px]
        ">{{Name}}</h6>
    <p class="
        pt-2 text-[#D0D6F9]/70 font-['Barlow'] text-lg
        md:pt-0
        lg:pt-3 lg:w-[444px] lg:text-[19px]
        ">{{Descrition}}</p>
</div>