<section class="
    bg-[url('./assets/home/background-home-mobile.jpg')] bg-no-repeat bg-cover min-h-screen
    md:bg-[url('./assets/home/background-home-tablet.jpg')]
    lg:bg-[url('./assets/home/background-home-desktop.jpg')]
    ">
    <app-header></app-header>
    <div class="
        py-10 px-6 flex flex-col gap-28
        md:pt-28 md:py-0 md:px-10
        lg:pt-60 lg:px-48 lg:grid lg:grid-cols-2 lg:gap-40 lg:items-center
        ">
        <div class="
            flex flex-col gap-4 text-center
            lg:text-start
            ">
            <span class="
                text-[#D0D6F9] font-['Barlow Condensed tracking-[2.7px]']
                md:text-xl md:tracking-[3.0px]
                ">SO, YOU WANT TO TRAVEL TO</span>
            <h3 class="
                text-white font-['Bellefair'] text-[85px]
                md:text-[150px]
                ">SPACE</h3>
            <div class="
                md:flex md:justify-center
                lg:justify-start
                ">
                <p class="
                    text-[#D0D6F9] text-lg font-['Barlow']
                    md:w-[450px]
                    ">Let’s face it; if you want to go to space, you might as well genuinely go to outer space and not hover kind of on the 
                    edge of it. Well sit back, and relax because we’ll give you a truly out of this world experience!</p>
            </div>
        </div>
        <div 
            routerLink="/destination" 
            class="
                flex justify-center
                lg:justify-end lg:mr-10
                ">
            <button class="
                rounded-full w-[175px] h-[175px] bg-white
                md:w-[245px] md:h-[245px]
                lg:w-[280px] lg:h-[280px]
                ">
                <span class="
                    text-[#0B0D17] font-['Bellefair'] tracking-[1.25px] text-xl uppercase
                    md:text-3xl md:tracking-[2px]
                    ">Explore</span>
            </button>
        </div>
    </div>
</section>