<section class="
    bg-[url('./assets/technology/background-technology-mobile.jpg')] bg-cover min-h-screen
    md:bg-[url('./assets/technology/background-technology-tablet.jpg')]
    lg:bg-[url('./assets/technology/background-technology-desktop.jpg')]
    ">
    <app-header />
    <div class="md:pt-16">
        <div class="md:px-10">
            <app-title-page number="03" title="SPACE LAUNCH 101" />
        </div>
        <div class="
            py-8 flex flex-col gap-8
            md:py-16 md:gap-14
            ">
            <div>
                @if (launch) {
                    <div class="
                        bg-[url('./assets/technology/image-launch-vehicle-landscape.jpg')] bg-cover bg-top h-[175px]
                        md:bg-bottom md:h-[300px]
                        lg:bg-[url('./assets/technology/image-launch-vehicle-portrait.jpg')]
                        "></div>
                }
                @if (spaceport) {
                    <div class="
                        bg-[url('./assets/technology/image-spaceport-landscape.jpg')] bg-cover bg-top h-[175px]
                        md:bg-bottom md:h-[300px]
                    "></div>
                }
                @if (capsule) {
                    <div class="
                        bg-[url('./assets/technology/image-space-capsule-landscape.jpg')] bg-cover bg-top h-[175px]
                        md:bg-bottom md:h-[300px]
                    "></div>
                }
            </div>
            <div class="
                px-7 flex flex-col gap-7
                md:gap-14
                ">
                <app-nav-tech 
                    [launch]="launch"
                    [spaceport]="spaceport"
                    [capsule]="capsule"
                    (showLaunchEvent)="showLaunch()"
                    (showSpacePortEvent)="showSpacePort()"
                    (showCapsuleEvent)="showCapsule()"
                />
                @if (launch) {
                    <app-tech-info class="md:px-[7.7rem]"
                        Name="LAUNCH VEHICLE"
                        Descrition="A launch vehicle or carrier rocket is a rocket-propelled vehicle used to carry a payload from Earth's surface 
                        to space, usually to Earth orbit or beyond. Our WEB-X carrier rocket is the most powerful in operation. Standing 150 metres 
                        tall, it's quite an awe-inspiring sight on the launch pad!"
                    />
                }
                @if (spaceport) {
                    <app-tech-info class="md:px-[7.5rem]"
                        Name="SPACEPORT"
                        Descrition="A spaceport or cosmodrome is a site for launching (or receiving) spacecraft, by analogy to the seaport for 
                        ships or airport for aircraft. Based in the famous Cape Canaveral, our spaceport is ideally situated to take advantage of 
                        the Earth’s rotation for launch."
                    />
                }
                @if (capsule) {
                    <app-tech-info class="md:px-32"
                        Name="SPACE CAPSULE"
                        Descrition="A space capsule is an often-crewed spacecraft that uses a blunt-body reentry capsule to reenter the Earth's 
                        atmosphere without wings. Our capsule is where you'll spend your time during the flight. It includes a space gym, cinema, 
                        and plenty of other activities to keep you entertained."
                    />
                }
            </div>
        </div>
    </div>
</section>