<div class="
    flex flex-col gap-8 text-center
    lg:text-start lg:gap-14
    ">
    <div class="">
        <h4 class="
            text-white font-['Bellefair'] text-[56px] font-semibold uppercase leading-normal
            md:text-[80px]
            lg:text-[105px] lg:font-extralight
            ">{{Planet}}</h4>
        <p class="
            text-[#D0D6F9]/70 font-['Barlow'] text-lg
            md:px-16
            lg:px-0
            ">{{Descrition}}</p>
    </div>
    <app-planet-stats 
        AVGDistance={{Distance}}
        TravelTime={{Time}}
        />
</div>