<div class="
    flex flex-col gap-2 text-center
    ">
    <h5 class="
        text-white opacity-50 font-['Bellefair'] text-lg uppercase
        md:text-2xl
        ">{{Profissional}}</h5>
    <h6 class=" 
        text-white font-['Bellefair'] text-[27px] uppercase
        md:text-[40px]
        ">{{Name}}</h6>
    <div class="
        py-2
        md:flex md:justify-center
        ">
        <p class="
            text-[#D0D6F9] font-['Barlow'] text-lg
            md:w-[530px]
            ">{{Descrition}}
        </p>
    </div>
</div>