<div class="
    flex flex-col gap-2 text-center
    lg:text-start lg:gap-4
    ">
    <h5 class="
        text-white opacity-50 font-['Bellefair'] text-lg uppercase
        md:text-2xl
        lg:text-[32px]
        ">{{Profissional}}</h5>
    <h6 class=" 
        text-white font-['Bellefair'] text-[27px] uppercase -tracking-tighter
        md:text-[40px]
        lg:text-[56px]
        ">{{Name}}</h6>
    <div class="
        py-2
        md:flex md:justify-center
        lg:py-3 lg:w-[435px]
        ">
        <p class="
            text-[#D0D6F9] font-['Barlow'] text-lg
            ">{{Descrition}}
        </p>
    </div>
</div>