<section class="py-8 flex flex-col gap-8">
    <div class="flex justify-center">
        <img class="w-[180px] h-[250px]" src="../../../../assets/crew/image-douglas-hurley.webp" alt="">
    </div>
    <div class="flex flex-col gap-8">
        <app-nav-crew />
        <app-person-info 
            Profissional="Commander "
            Name="Douglas Hurley"
            Descrition="Douglas Gerald Hurley is an American engineer, former Marine Corps pilot and former NASA astronaut. He 
            launched into space for the third time as commander of Crew Dragon Demo-2."
        />
    </div>
</section>